<%= button_to remove_student_path(student), method: :delete,class: "btn-link btn" do %>
  <span class="">Remove student</span>
  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
<% end %>
